@model KioskoFacturacion.Web.Models.Producto
@{
    ViewData["Title"] = "Menú de Gestión";
}

<div class="text-center">
    <h1 class="display-4">
        <h1> @ViewData["Title"] </h1>
    </h1>
    <h2>Ingresar producto nuevo</h2>
</div>

<form asp-action="Alta" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Marca" class="control-label"></label>
            <input asp-for="Marca" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Descripcion" class="control-label"></label>
        <input asp-for="Descripcion" class="form-control">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Vencimiento" class="control-label"></label>
            <input asp-for="Vencimiento" class="form-control">
        </div>
        <div class="form-check">
            <label asp-for="NoVence" class="control-label"></label>
            <input asp-for="NoVence" class="form-control">
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.RubroID, htmlAttributes: new { @class = "control-label"})
            @Html.DropDownList("RubroID", ViewBag.RubrosList, "Elegir un rubro", new { @class = "form-control"})
            @Html.ValidationMessageFor(model => model.RubroID, "", new { @class = "text-danger"})
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label asp-for="PrecioCosto" class="control-label"></label>
            <input asp-for="PrecioCosto" class="form-control">
        </div>
        <div class="form-group col-md-2">
            <label asp-for="PrecioVenta" class="control-label"></label>
            <input asp-for="PrecioVenta" class="form-control">
        </div>
    </div>
    <input type="submit" value="Guardar" class="btn btn-primary" />
</form>