@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
.navbar-customclass {
    background-color: #fddfbe;
}
/* changing brand text color*/
.navbar-customclass .navbar-brand,
.navbar-customclass .navbar-text {
    color: #ffffff;
}
/* navigation link text color */
.navbar-customclass .navbar-nav .nav-link {
    color: rgba(255,255,255,.6);
}
/* navigation links anchor hover and active styles */
.navbar-customclass .nav-item.active .nav-link,
.navbar-customclass .nav-item:hover .nav-link {
    color: #ffffff;
}

.card-text {
    color: #000000;
}

.navbar-custom {
    background-color: #9A4EAE;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
   }

.txt-custom {
    color: rgb(216, 212, 207);
    font-family: 'WindSong', cursive;
    font-size: 40 px;
}
.txt-custom-log {
    color: rgb(255, 255, 255) !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40 px;
}

.form-custom {
    border-left : 2px solid #9A4EAE;
    padding : 7px;
    }

.btn-success-custom {
    background-color: #9A4EAE !important;
}


.btn-danger-success {
    background-color: #EBDCEF
    !important;
}


.card-custom {
    width: 18rem !important;
    border-radius: 14px !important;
    border-color: #9A4EAE !important;
}

.card-body > a {
    text-decoration: none !important;

}

.card-body > h5, .card-body > a > h5 {
    color: #9A4EAE !important;

}

.card-body > a {
    color: #9A4EAE !important;

}