@model KioskoFacturacion.Web.Models.Marca
@{
    ViewData["Title"] = "Nueva marca";
}

<h1>@ViewData["Title"]</h1>
<br>
<form asp-action="Guardar" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Nombre" class="label-control"></label>
            <input asp-for="Nombre" class="form-control">
        </div>
        <div class="form-group col-md-3">
            <label for="estado">Estado</label>
            <select id="estado" name="estado" class="form-control">
                <option selected>Activo</option>
                <option>Inactivo</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            @Html.Label("Rubro")
            @Html.DropDownList("RubroID", ViewBag.RubrosList, "", new { @class = "form-control"})
            @Html.ValidationMessageFor(model => model.RubroID, "", new { @class = "text-danger"})
        </div>
    </div>
    <span style="display: inline;">
        <button type="submit" class="btn btn-success">Guardar</button>
        <a asp-controller="Marcas" asp-action="Index">
            <button type="button" class="btn btn-warning">Atrás</button>
        </a></span>
</form>