<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KioskoFacturacion.Web</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/assets/logo_corto.png" alt="Menú inicio" width="30" height="26"
                        class="d-inline-block align-top">
                    Maxikiosco
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-lg-inline-flex justify-content-between" id="navbarNavDropdown">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Facturacion" asp-action="Index">
                                <img src="~/assets/facturacion.png" alt="Menú facturación"
                                    class="d-inline-block align-top">
                                Facturación </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Gestion">
                                <img src="~/assets/gestion.png" alt="Menú facturación" class="d-inline-block align-top">
                                Gestión </a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        @*<p style="text-align:center; font-weight:bold; background-color:tomato">SITIO EN CONSTRUCCIÓN</p>*@

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Karim Emilio - <a asp-area="" asp-controller="Facturacion" asp-action="Contacto">Contacto</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
@section Scripts {
@RenderSection("Scripts", required: false)
}