@{
    ViewData["Title"] = "Contacto";
}
<h1>@ViewData["Title"]</h1>

<p>Para contactarse con el programador enviar mail a <a
        href="mailto:karimemilio98@gmail.com?Subject=Consulta%20KioskoFacturacion¿">karimemilio98@gmail.com</a>.</p>
