@{
    ViewData["Title"] = "Facturacion Page";
}

<div class="text-center">
    <h1 class="display-4">Menú de Facturación</h1>
    <p>Próximamente habrá disponible un menú para facturar productos <a
            href="mailto:karimemilio98@gmail.com?Subject=Menú Facturacion%20de%20la%20aplicacion">Contactar por
            correo</a></p>
    <img src="https://www.sourcecodester.com/sites/default/files/images/Gauravtripathi/bill.png" alt="">
</div>
