@{
        ViewData["Title"] = "Menú de Gestión";
}
<div class="container text-center">
        <h1 class="display-4">
                <h1>@ViewData["Title"]</h1>
        </h1>
        <hr>
        <div class="container">
                <div class="row justify-content-around">
                        <div class="col-4">
                                <div class="card card-custom">
                                        <div class="card-body card-text">
                                                <a asp-controller="Productos" asp-action="Index">
                                                        <h5 class="card-title-custom">Productos</h5>
                                                </a>
                                                @*<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>*@
                                                <p class="card-text">Agregar, eliminar y modificar productos.
                                                        Actualizar precios y stock.</p>
                                                <a asp-controller="Productos" asp-action="Alta"
                                                        class="card-link">Nuevo</a>
                                                <a asp-controller="Productos" asp-action="Index" class="card-link">Ver
                                                        productos</a>
                                        </div>
                                </div>
                        </div>
                        <div class="col-4">
                                <div class="card card-custom">
                                        <div class="card-body">
                                                <h5 class="card-title-custom">Rubros y Marcas</h5>

                                                @*<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>*@
                                                <p class="card-text">Agregar, eliminar y modificar rubros. Agregar,
                                                        eliminar y modificar marcas.</p>
                                                <a asp-controller="Rubros" asp-action="Index" class="card-link">Ver
                                                        rubros</a>
                                                <a asp-controller="Marcas" asp-action="Index" class="card-link">Ver
                                                        marcas</a>
                                        </div>
                                </div>
                        </div>
                </div>
                <br>
                <div class="row justify-content-around">
                        <div class="col-4">
                                <div class="card card-custom">
                                        <div class="card-body">

                                                <h5 class="card-title-custom">Ventas</h5>

                                                @*<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>*@
                                                <p class="card-text">Resumenes de ventas por fecha, producto, rubro,
                                                        etc.</p><br>
                                                <a href="#" class="card-link">Ventas de ayer</a>
                                                <a href="#" class="card-link">Ventas de hoy</a>
                                        </div>
                                </div>
                        </div>
                        <div class="col-4">
                                <div class="card card-custom">
                                        <div class="card-body">
                                                <h5 class="card-title-custom">Otras</h5>
                                                @*<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>*@
                                                <p class="card-text">Configuraciones administrativas.</p><br><br>
                                                <a href="#" class="card-link">Estadísticas</a>
                                                <a href="#" class="card-link">Configuraciones</a>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>