@{
        ViewData["Title"] = "Inicio";
}

<br>
<div class="text-center">
        <img src="https://i.ibb.co/LJGf89B/logo.png" alt="" width="400" height="430">
        <br>
        <a href="https://www.instagram.com" target="_blank"><img
                        src="https://img.icons8.com/color/48/000000/instagram-new--v2.png" /></a>
        <a href="https://web.whatsapp.com" target="_blank"><img
                        src="https://img.icons8.com/color/48/000000/whatsapp--v6.png" /></a>
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12576.839011866265!2d-57.5474775!3d-37.9955677!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x72458c3806dcefe!2sMaxikiosco%209%20de%20julio!5e0!3m2!1ses!2sar!4v1626631712800!5m2!1ses!2sar"
                width="400" height="430" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<br>