@model KioskoFacturacion.Web.Models.Rubro
@{
    ViewData["Title"] = "Nuevo Rubro";
}
<div class="container text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<form asp-action="GuardarFromMarca" method="post">
    <div class="form-row form-custom">
        <div class=" form-group col-md-6">
            <label asp-for="Nombre" class="label-control"></label>
            <input asp-for="Nombre" class="form-control" />
            <p class="text-danger">
                @ViewBag.Message
                @TempData["ErrorMessage"]
            </p>
        </div>
        <div class="form-group col-md-4">
            <label for="estado">Estado</label>
            <select id="estado" name="estado" class="form-control">
                <option selected>Activo</option>
                <option>Inactivo</option>
            </select>
        </div>
    </div>
    <span style="display: inline;">
        <br>
        <button type="submit" class="custom-btn custom-success">Guardar</button>
        <a href='javascript:history.go(-1)'><button type="button" class="custom-btn custom-warning">Atrás</button></a>
    </span>
</form>