@model KioskoFacturacion.Web.Models.Rubro
@{
    ViewData["Title"] = "Nuevo Rubro";
}

<h1>@ViewData["Title"]</h1>
<br>
<form asp-action="Guardar" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Nombre" class="label-control"></label>
            <input asp-for="Nombre" class="form-control" />
        </div>
        <div class="form-group col-md-4">
            <label for="estado">Estado</label>
            <select id="estado" name="estado" class="form-control">
                <option selected>Activo</option>
                <option>Inactivo</option>
            </select>
        </div>
    </div>
    <span style="display: inline;">
        <button type="submit" class="btn btn-success">Guardar</button>
        <a asp-controller="Rubros" asp-action="Index">
            <button type="button" class="btn btn-warning">Atrás</button>
        </a>
    </span>
</form>