@{
    ViewData["Title"] = "Rubros - Crear nuevo";
}

<h1>@ViewData["Title"]</h1>
<br>

<form asp-action="Guardar" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="nombre">Nombre del rubro</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingrese un nombre..." name="nombre">
        </div>
        <div class="form-group col-md-4">
            <label for="estado">Estado</label>
            <select id="estado" name="estado" class="form-control">
                <option selected>Elegir estado...</option>
                <option>Activo</option>
                <option>Inactivo</option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>